* {

    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.banner {
    position: relative;
    text-align: center;

}

.banner-text {
    text-align: right;
    margin-left: 710px;
    margin-top: -640px;
    margin-right: 230px;
    align-items: center;

}

.opening {
    font-weight: 1000;
    font-size: 65px;
}

.button-primary {
    height: 64px;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    border-radius: 5px;
    background: #FD6E0A;
    color: #FFFFFF;
}

.failure {
    display: flex;
    align-items: center;
    margin-top: 350px;
    text-align: left;
    margin-right: 200px;
    margin-left: 190px;

}

.secondtitle {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}

.list li {
    list-style: none;


}

li::before {
    content: "\2714";
    color: green;
    margin-right: 5px;
    margin-left: ;
}

section {
    margin-top: 130px;
    margin-left: 200px;
}

.skills-container {
    display: flex;
    gap: 105px;
    text-align: center;
}

.section-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 40px;
    margin-left: 400px;
    margin-bottom: 50px;
}

.skill-title {
    font-weight: 900;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

.button-secondary {
    height: 64px;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    border-radius: 5px;
    color: #FD6E0A;
    background: #FFFFFF;

}

.gradiant {
    background-image: url("/images/gradient1.png");
    background-size: 100%;
    height: auto;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;


}

.gradiant-text {
    padding-top: 25px;
    padding-bottom: 40px;
    padding-left: 40px;
}

.gradiant-opening {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    
}
.contact{
    display: flex;
     gap: 100px;
    padding: 130px 200px;
    background: #151414;
    position: absolute;
    color: #FFFFFF;
    
}
.contact input[type="email"] {
    margin-bottom: 24px;
    border:#151414;
    width: 50%;
    padding: 18px 30px;
}
.section-title{
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
    text-align: left;   
    
}
.section-description {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;}
